.unique-waiter-course-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 100px;
  }
  
  .unique-waiter-course-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .unique-waiter-course-details {
    padding: 20px;
  }
  
  .unique-waiter-course-details h1 {
    font-size: 75px;
    font-weight: bolder;
    color: #2b3991;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .unique-waiter-course-description {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2b3991;
    text-align: justify;
  }
  
  .unique-waiter-underline {
    width: 300px;
    height: 7px;
    background-color: #fea92c;
    margin: -10px 0 20px 5px; /* Adjust margins as needed */
  }
  
  .unique-waiter-certificate {
    color: black;
    background-color: #f9f9f9;
    line-height: 2;
    margin-top: 15px;
    margin-bottom: 1px;
    text-align: justify;
  }
  
  @media (max-width: 992px) {
    .unique-waiter-course-details h1 {
      font-size: 50px;
    }
  
    .unique-waiter-course-description {
      font-size: 1rem;
    }
  
    .unique-waiter-underline {
      width: 330px;
      height: 4px;
    }
  }
  
  @media (max-width: 768px) {
    .unique-waiter-course-details h1 {
      font-size: 40px;
    }
  
    .unique-waiter-course-description {
      font-size: 0.9rem;
    }
  
    .unique-waiter-underline {
      width: 320px;
      height: 4px;
    }
  }
  
  @media (max-width: 576px) {
    .unique-waiter-course-details h1 {
      font-size: 50px;
    }
  
    .unique-waiter-course-description {
      font-size: 1rem;
    }
  
    .unique-waiter-underline {
      width: 330px;
      height: 4px;
    }
  }
  
  @media (max-width: 425px) {
    .unique-waiter-course-details h1 {
      font-size: 50px;
    }
  
    .unique-waiter-course-description {
      font-size: 1rem;
    }
  
    .unique-waiter-underline {
      width: 290px;
      height: 3px;
    }
  }
  
  @media (max-width: 375px) {
    .unique-waiter-course-details h1 {
      font-size: 20px;
    }
  
    .unique-waiter-course-description {
      font-size: 0.6rem;
    }
  
    .unique-waiter-underline {
      width: 225px;
      height: 2px;
    }
  }
  
  @media (max-width: 320px) {
    .unique-waiter-course-details h1 {
      font-size: 40px;
    }
  
    .unique-waiter-course-description {
      font-size: 1rem;
    }
  
    .unique-waiter-underline {
      width: 225px;
      height: 2px;
    }
  }
  